services:

  db:
    image: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - ./schema:/docker-entrypoint-initdb.d:Z
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 10s
      timeout: 3s
      retries: 3

  vyrtuous:
    build: .
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - vyrtuous-backups:/app/backups
      - vyrtuous-config:/root/.config/vyrtuous
      - ./src:/app:Z
      - ./vyrtuous.code-workspace:/app/vyrtuous.code-workspace:Z

    healthcheck:
      test: "healthcheck.sh || kill 1"
      interval: 10s
      retries: 3
      
volumes:
  vyrtuous-config:
  vyrtuous-backups:
