services:
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
  vyrtuous:
    build: .
    container_name: vyrtuous
    depends_on:
      - db
    environment:
      POSTGRES_DATABASE: vyrtuous
      POSTGRES_HOST: db
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: vyrtuous
      PYTHONPATH: /app
      PYTHONUNBUFFERED: '1'
    env_file:
      - ~/.env_vyrtuous
    expose:
      - "8080"
    volumes:
      - vyrtuous-backups:/app/backups
      - vyrtuous-config:/root/.config/vyrtuous
      - ./src/vyrtuous:/app/vyrtuous
    command: python -u vyrtuous/main.py
    stdin_open: true  # Keep stdin open (like -i)
    tty: true
volumes:
  vyrtuous-config:
  vyrtuous-backups:
