services:

  db:
    image: postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./schema:/docker-entrypoint-initdb.d:Z

  vyrtuous:
    restart: always
    build: .
    depends_on:
      - db
    env_file:
      - .env
    expose:
      - "8080"
    volumes:
      - vyrtuous-backups:/app/backups
      - vyrtuous-config:/root/.config/vyrtuous
      - ./src/vyrtuous:/app/vyrtuous:Z
    command: python -u vyrtuous/main.py

volumes:
  vyrtuous-config:
  vyrtuous-backups:
